version: '2.4'
services:

  database:
    image: library/postgres:13-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5445:5432"
    environment:
      POSTGRES_PASSWORD: example
      POSTGRES_USER: postgres
      POSTGRES_DB: mfmserver_development
    command: 'postgres -c max_connections=300 -c shared_buffers=1GB'
    networks:
      mfmserver_net:
        ipv4_address: 10.77.0.24
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    tty: true
    stdin_open: true
    volumes:
      - ./:/app
      - /app/tmp
    links:
      - database
    environment:
      DATABASE_URL: postgres://postgres:example@database:5432/mfmserver_development
    ports:
      - "3000:3000"
    command: 'cargo run'
    networks:
      mfmserver_net:
        ipv4_address: 10.77.0.23
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "1"

volumes:
  postgres_data:
networks:
  mfmserver_net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.77.0.0/24
